body {
    background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
}
 
header {
    background-color: #d2b48c;
    text-align: center; 
}

h1 {
    line-height: 200%; /*line spacing.
    200% is double spacing*/
}

nav{ 
    text-align: center;
    font-weight: bold;
}

footer { 
    background-color: #d2b48c;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}

#wrapper {
    width: 80%; /*the width of the content of an element*/
    margin-left: auto; /*configure the space in the left margin of the element*/
    margin-right: auto; 
}